{% extends 'admin/admin_base.html.twig' %}

{% block body %}

<div class="content-inner">
    <h2>Changement de mot de passe</h2>
    <div class="well demi">
        <div>
            <form enctype="multipart/form-data" method="post" autocomplete="off">
                <table>
                    <tr>
                        <td>
                            <label for="old">Ancien mot de passe</label>
                        </td>
                        <td>
                            <input type="password" id="old" name="old">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="new">Nouveau mot de passe</label>
                        </td>
                        <td>
                            <input type="password" id="new" name="new">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="confirmation">Confirmation du mot de passe</label>
                        </td>
                        <td>
                            <input type="password" id="confirmation" name="confirmation">
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td>
                            <input type="submit" class="btn btn-primary">
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
{% endblock %}