html { /* set relative picture size */
    background: url("../IMG/wall_login.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1
{
    padding-top: 0;
    font-size: 15pt;
}

input
{
    width: 160px;
}

.centered {
    border-color: #31708f;
    border-style: solid;
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;

    margin-top: -100px;
    margin-left: -150px;
    background-color: #F5F5F5;
    width: 300px;
    height: 200px ;
    border-radius: 10px;
    padding: 10px 20px;
}
